@import '../../../styles/root.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 250px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1420px;
    width: 90vw;
}

.aboutus {
    article {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.question__first {
    color: $purple;
    font-size: $headline;
    font-weight: $semiBold;
}

.answer {
    font-size: $bodyLarge;
    font-weight: $regular;
}


@media screen and (max-width: 450px) {
    .container {
        max-width: 330px;
        width: 100%;
    }

    .wrapper {
        height: auto;
        margin-bottom: 100px;
    }

    .question__first {
        font-size: $title;
        font-weight: $medium;
    }
    
    .answer {
        font-size: $mobileFont;
        font-weight: $regular;
    }

    .aboutus {
        margin-bottom: 40px;

        article {
            gap: 15px;
        }
    }
}

@media screen and (min-width: 451px) and (max-width: 800px) {
    .container {
        max-width: 400px;
        width: 100%;
    }

    .wrapper {
        height: auto;
        margin-bottom: 100px;
    }

    .question__first {
        font-size: $title;
        font-weight: $medium;
    }
    
    .answer {
        font-size: $mobileFont;
        font-weight: $regular;
    }

    .aboutus {
        margin-bottom: 40px;

        article {
            gap: 15px;
        }
    }
}

@media screen and (min-width: 801px) and (max-width: 1400px) {
    .wrapper {
        margin-bottom: 400px;
    }

    .container {
        max-width: 1100px;
    }

    .question__first {
        font-size: $headline;
        font-weight: $semiBold;
    }
    
    .answer {
        font-size: $bodyMedium;
        font-weight: $regular;
    }
}