@import '../../../styles/root.scss';

.wrapper {
    width: 100%;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__container {
    width: 90vw;
    max-width: 1420px;
    font-size: $bodyLarge;
    display: flex;
    flex-direction: column;
}

.form__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    margin-bottom: 80px;
    margin-top: 40px;

    .input__container {
        display: flex;
        flex-direction: column;

        .label__content {
            display: flex;
            flex-direction: row;
            gap: 15px;
        }

        label {
            font-weight: $medium;
        }

        input {
            max-width: 460px;
            height: 45px;
            padding: 0 15px;
            margin-top: 7px;
            font-size: $bodyLarge;
            border-radius: 5px;
            border: 1px solid #ACACAC;
            transition: outline 0.1s ease-in-out;

            &:focus {
                outline: 2px solid $purple;
            }
        }
    }
}

.contacts__label {
    display: flex;
    align-items: center;
    gap: 7px;
}

.error__input__container {
    input {
        outline: 2px $magenta solid !important;
    }
}

.textarea__container {
    .label__content {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    label {
        font-weight: $medium;
    }

    textarea {
        resize: none;
        height: 230px;
        width: 100%;
        max-width: 1390px;
        margin-top: 7px;
        padding: 10px 15px;
        font-size: $bodyLarge;
        border-radius: 5px;
        border: 1px solid #ACACAC;
        transition: outline 0.1s ease-in-out;

        &:focus {
            outline: 2px solid $purple;
        }
    }
}

.error__textarea__container {
    textarea {
        outline: 2px $magenta solid !important;
    }
}

.checkbox__container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .link {
        text-decoration: underline;
    }
}

.button {
    width: 700px;
    height: 45px;
    align-self: center;
    cursor: pointer;
    background-color: $purple;
    color: $white;
    font-size: $bodyLarge;
    font-weight: $medium;
    border: none;
    border-radius: 5px;
    margin-top: 56px;
}

.error {
    margin-top: 10px;
    color: $magenta;
    font-size: 14px;
}

.error__checkbox {
    color: $magenta;
    font-size: 14px;
}


@media screen and (max-width: 500px) {
    .form__container {
        max-width: 350px;
        font-size: $mobileFont;
    }

    .form__top {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
        margin-top: 30px;

        .input__container {
            .label__content {
                align-items: center;
            }

            input {
                max-width: 330px;
                padding: 0 10px;
                margin-top: 10px;
                font-size: $mobileFont;
            }
        }
    }

    .textarea__container {
        .label__content {
            gap: 20px;
        }

        textarea {
            height: 200px;
            width: 94%;
            padding: 10px 10px;
            font-size: $mobileFont;
        }
    }

    .error {
        margin-top: 0;
    }

    .checkbox__container {    
        div {
            align-items: center;
        }
    }

    .button {
        max-width: 350px;
        width: 100%;
        height: 40px;
        font-size: $mobileFont;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}


@media screen and (min-width: 500px) and (max-width: 800px) {
    .form__container {
        max-width: 500px;
        font-size: $mobileFont;
    }

    .form__top {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
        margin-top: 30px;

        .input__container {
            .label__content {
                align-items: center;
            }

            input {
                max-width: 430px;
                padding: 0 10px;
                margin-top: 10px;
                font-size: $mobileFont;
            }
        }
    }

    .textarea__container {
        .label__content {
            gap: 20px;
        }

        textarea {
            height: 200px;
            max-width: 430px;
            width: 100%;
            padding: 10px 10px;
            font-size: $mobileFont;
        }
    }

    .error {
        margin-top: 0;
    }

    .checkbox__container {    
        div {
            align-items: center;
        }
    }

    .button {
        max-width: 450px;
        width: 100%;
        height: 40px;
        font-size: $mobileFont;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}


@media screen and (min-width: 801px) and (max-width: 1200px) {
    .form__container {
        max-width: 800px;
        font-size: $bodyMedium;
    }

    .form__top {
        grid-row-gap: 30px;
        margin-bottom: 60px;
    
        .input__container {
            input {
                max-width: 240px;
                padding: 0 10px;
                font-size: $bodyMedium;
            }
        }
    }

    .textarea__container {
        textarea {
            resize: none;
            height: 230px;
            width: 100%;
            max-width: 780px;
            margin-top: 7px;
            padding: 10px 10px;
            font-size: $bodyMedium;
        }
    }
}