@import '../../../styles/root.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    max-width: 1420px;
    width: 90vw;
    gap: 20px;
}

.blue {
    color: $blue;
}

.magenta {
    color: $magenta;
}

.top__standart,
.top__unstandart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.bottom__standart,
.bottom__unstandart {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 20px;

    h3, p {
        padding-left: 120px;
    }

    h3 {
        font-size: $display;
        font-weight: $semiBold;
    }

    p {
        font-size: $bodyLarge;
        font-weight: $regular;
        max-width: 70%;
    }
}

.article__unstandart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 20px;

    h3 {
        font-size: $display;
        font-weight: $semiBold;
    }

    p {
        font-size: $bodyLarge;
        font-weight: $regular;
        max-width: 70%;
    }
}

.link {
    width: 100%;
    max-width: 460px;
    height: 250px;
    border-radius: 5px;
    font-size: $bodySmall;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    flex: 1;
    color: #fff;
}

.link__blue {
    background-color: $blue;
}

.link__magenta {
    background-color: $magenta;
}

.sceleton__big {
    width: 100%;
    max-width: 700px;
    height: 360px;
    background-color: #D9D9D9;
    border-radius: 5px;
    flex: 1;
}

.sceleton__small {
    width: 490px;
    height: 250px;
    background-color: #D9D9D9;
    border-radius: 5px;
    flex: 1;
}


//Mobile adapt
@media screen and (max-width: 450px) {
    .mobile__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 330px;
        width: 100%;
        margin-bottom: 100px;
        gap: 20px;
    }
    
    .article__mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
    
        h3 {
            font-size: 36px;
            font-weight: $medium;
        }
    
        p {
            font-size: $mobileFont;
            font-weight: $regular;
            max-width: 100%;
        }
    }

    .sceleton__mobile {
        width: 100%;
        max-width: 330px;
        height: 160px;
        background-color: #D9D9D9;
        border-radius: 5px;
    }
    
    .link__mobile {
        max-width: 330px;
        height: 40px;
        width: 100%;
        color: #fff;
        border-radius: 5px;
        font-size: $mobileFont;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
    }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
    .mobile__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 400px;
        width: 100%;
        margin-bottom: 100px;
        gap: 25px;
    }
    
    .article__mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
    
        h3 {
            font-size: 36px;
            font-weight: $medium;
        }
    
        p {
            font-size: $bodySmall;
            font-weight: $regular;
            max-width: 100%;
        }
    }

    .sceleton__mobile {
        width: 100%;
        max-width: 400px;
        height: 190px;
        background-color: #D9D9D9;
        border-radius: 5px;
    }
    
    .link__mobile {
        max-width: 400px;
        height: 40px;
        width: 100%;
        color: #fff;
        border-radius: 5px;
        font-size: $bodySmall;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
    }
}

@media screen and (min-width: 800px) and (max-width: 1420px) {
    .container {
        max-width: 800px;
        width: 100%;
        margin-bottom: 150px;
    }

    .article {    
        h3, p {
            padding-left: 50px;
        }
    
        h3 {
            font-size: $headline;
        }
    
        p {
            font-size: $bodyMedium;
            max-width: 80%;
        }
    }

    .article__unstandart {    
        h3 {
            font-size: $headline;
        }
    
        p {
            font-size: $bodyMedium;
            max-width: 80%;
        }
    }

    .link {
        max-width: 250px;
        height: 140px;
    }

    .sceleton__big {
        max-width: 450px;
        height: 230px;
    }
    
    .sceleton__small {
        width: 250px;
        height: 140px;
    }
}