@import '../../../styles/root.scss';

.container {
    height: 100vh;
    width: 20vw;
    background-color: #ffffff;
}

.list {
    display: flex;
    flex-direction: column;

    .link {
        color: $blue;
        font-size: $bodySmall;
        font-weight: $semiBold;
        height: 65px;
        display: flex;
        align-items: center;
        padding-left: 15%;
        gap: 15px;
        border-bottom: 1.5px #F3F3F3 solid;
    }
}

.active__link {
    background-color: #F3F3F3;
}

@media screen and (max-width: 1100px) {
    .container {
        width: 8vw;
    }

    .link {
        padding-left: 0 !important;
        justify-content: center;
        
        p {
            display: none;
        }
    }
}