@import '../../../styles/root.scss';

.wrapper {
    height: 900px;
    width: 100%;
    position: relative;
}

.slider__container {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slide {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 596px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.slide__subimages {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.image__main {
    width: 1060px;
    height: 600px;
    cursor: pointer;
    border-radius: 15px;
}

.image__sub {
    height: 190px;
    width: 340px;
    cursor: pointer;
    border-radius: 10px;
}

.btn__left,
.btn__right {
    position: absolute;
    background-color: $purple;
    width: 58px;
    height: 130px;
    border: none;
    color: $white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: $regular;
    font-size: $bodyLarge;
    z-index: 3;
}

.btn__left {
    left: -5vw;
    top: 43%;
}

.btn__right {
    right: -5vw;
    top: 43%;
}

.btn_disable {
    background-color: #C1C1C1;
    cursor: not-allowed;
}

.description__container {
    position: relative;
    margin-top: 280px;
    font-size: $bodyMedium;

    p {
        position: absolute;
    }
}

.slide__bar {
    position: absolute;
    top: 88%;
    width: 1420px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.bar {
    width: auto;
    border: 3px solid #C1C1C1;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (min-width: 801px) and (max-width: 1400px) {
    .wrapper {
        height: 450px;
        max-width: 1100px;
    }

    .slide {
        gap: 10px;
    }

    .slide__subimages {
        gap: 10px;
    }

    .image__main {
        width: 530px;
        height: 305px;
        border-radius: 10px;
    }
    
    .image__sub {
        height: 95px;
        width: 170px;
        border-radius: 8px;
    }

    .btn__left,
    .btn__right {
        width: 48px;
        height: 95px;
    }

    .slide__bar {
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 710px;
    }

    .btn__left {
        left: 0;
        transform: translate(-50%, -50%);
        top: 50%;
    }
    
    .btn__right {
        left: 100%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .description__container {
        margin-top: -100px;
    }
}