.projects__container {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 190px);
}

.filter__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1148px;
    padding-left: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
    gap: 30px;
    border: 0.5px solid #d9d9d9;
    border-bottom: none;
}

.prev {
    width: 99px;
    border-right: 1.5px #d1d1d1 solid;

    p {
        padding-left: 10px;
    }
}

.name {
    width: 310px;
    border-right: 1.5px #d1d1d1 solid;
}

.order__code {
    width: 208px;
    margin-right: 10px;
    border-right: 1.5px #d1d1d1 solid;
}

.empty__wrap {
    width: 526px;
}