@import '../../../styles/root.scss';

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1500px;
    width: 90vw;
    max-width: 1420px;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu__item {
    font-size: $headline;
    cursor: pointer;
    transition: color 300ms ease-in-out;
    color: $dark;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;

    h3 {
        font-weight: $semiBold;
        transform-origin: left center;
        transition: transform 300ms ease-in-out;
    }

    .line {
        width: 4px;
        height: 19px;
        background-color: $dark;
        transition: all 300ms ease-in-out;
    }
}

.active__1 {
    color: $blue;

    .line {
        background-color: $blue;
    }
}

.active__2 {
    color: $magenta;

    .line {
        background-color: $magenta;
    }
}

.active__3 {
    color: $purple;

    .line {
        background-color: $purple;
    }
}

.image__block {
    position: relative;
}

.image {
    position: relative;
    z-index: 2 !important;
    width: 680px;
    height: 680px;
    transition: opacity 0.6s ease-in-out, transform 1.5s ease-in-out;
}

.hidden__image {
    transform: translateX(7vw);
    opacity: 0;
}

.blur {
    z-index: 1 !important;
    position: absolute;
    bottom: -50px;
    left: -150px;
    width: 800px;
    height: 320px;
    transform: rotate(15deg);
    filter: blur(50px);
    -webkit-filter: blur(50px);
    opacity: 0.8;
    border-radius: 70%;
    background-color: transparent;

    transition: opacity 1s ease-in-out;

    &.hidden {
        opacity: 0;
    }
}

.blue__blur {
    background-color: #52ACD2;
}

.pink__blur {
    background-color: #FA73BC;
}

.purple_blur {
    background-color: #9570FF;
}