@import '../../styles/root.scss';

.header__wrapper {
    width: 100%;
    height: 60px;
    background-color: $purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__container {
    width: 90vw;
    max-width: 1420px;

    .logo {
        width: auto;
        height: 45px;
    }
}

.main__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__container {
    width: 90vw;
    max-width: 1420px;

    .link {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: $bodyMedium;
        margin-top: 40px;

        .icon {
            width: 30px;
            height: auto;
        }
    }
}