// Colors
$blue: #2554D2;
$magenta: #F61B5D;
$purple: #5116FB;
$dark: #2E2B22;
$white: #F3F3F3;

//Font size settings
$bodySmall: 18px;
$bodyMedium: 20px;
$bodyLarge: 24px;
$title: 32px;
$headline: 46px;
$display: 64px;

//Font width settings
$regular: 300;
$medium: 500;
$semiBold: 600;
$bold: 700;