.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
}

.container {
    display: flex;
    height: 950px;
    gap: 20px;

    .flex__start {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        gap: 20px;
    }

    .flex__end {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: auto;
    }
}

.img__sceleton {
    height: 395px;
    width: 245px;
    background-color: #D9D9D9;
}