@import '../../../styles/root.scss';

.wrapper {
    height: 20vh;
    margin-bottom: 250px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    padding: 20px 40px;
    border-radius: 10px;
    min-height: 120px;
    height: auto;
}

.abilities__up,
.abilities__down {
    width: 90vw;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        flex-grow: 1;
        text-align: center;
        margin: 0 6px;
    }
}

.regular {
    font-size: $bodySmall;
    font-weight: $regular;
}

.semibold {
    font-size: $bodyMedium;
    font-weight: $semiBold;
}

.hight {
    font-size: $bodyMedium;
    font-weight: $regular;
}

.big {
    font-size: calc($title + 4px);
    font-weight: $bold;
}


.mobile__wrapper {
    height: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile__container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    padding: 20px 40px;
    border-radius: 10px;
    min-height: 150px;
    height: auto;
}

.line__up,
.line__down {
    display: flex;
    width: 100%;
    gap: 30px;
}

.item {
    font-size: $bodyMedium;
    font-weight: $regular;
}


@media screen and (min-width: 801px) and (max-width: 1200px) {
    .regular {
        font-size: $mobileFont;
        font-weight: $regular;
    }
    
    .semibold {
        font-size: $mobileFont;
        font-weight: $semiBold;
    }
    
    .hight {
        font-size: $mobileFont;
        font-weight: $regular;
    }
    
    .big {
        font-size: $bodyMedium;
        font-weight: $bold;
    }

    .container {
        gap: 25px;
    }
}