.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 90vw;
    max-width: 1420px;
    height: 850px;
    gap: 32px;

    .flex__start {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        gap: 32px;
    }

    .flex__end {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: auto;
    }
}

.img__sceleton {
    height: 395px;
    width: 245px;
    border-radius: 10px;
}

.img__sceleton__mid {
    height: 197px;
    width: 122px;
    border-radius: 10px;
}

.container__mid {
    height: auto;
    gap: 16px;

    .flex__start {
        gap: 16px;
    }

    .flex__end {
        gap: 16px;
    }
}

.container__mid {
    display: flex;
    justify-content: center;
    width: 90vw;
    max-width: 1420px;
    height: auto;
    gap: 16px;

    .flex__start {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        gap: 16px;
    }

    .flex__end {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: auto;
    }
}