@import '../../../styles/root.scss';

.wrapper {
    border: 0.5px solid #d9d9d9;
}

.container, .open__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1149px;
    height: 65px;
    cursor: pointer;
    gap: 30px;
}

.container {
    background-color: $white;
    transition: all 0.3s ease-in-out;
}

.open__container {
    background-color: #fff;

    .prev__img, .title, .order__code {
        border: none;
    }

    .order__code {
        width: 370px;
    }

    .buttons__container {
        width: 373px;
    }
}

.prev__img {
    div{
        max-width: 85px;
        height: 50px;
        margin: 5px 10px;
        border-radius: 5px;
        background-color: #d9d9d9;
    }
    width: 102px;
    border-right: 1.5px #d1d1d1 solid;
}

.title {
    font-size: $bodySmall;
    font-weight: $bold;
    height: 60px;
    display: flex;
    align-items: center;
    width: 316px;
    border-right: 1.5px #d1d1d1 solid;
}

.order__code {
    color: #646464;
    font-size: $bodySmall;
    height: 60px;
    display: flex;
    align-items: center;
    width: 213px;
    border-right: 1.5px #d1d1d1 solid;
}

.buttons__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 530px;
    margin-right: 15px;
    gap: 10px;

    .accept, .dicline {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        font-size: $bodySmall;
        height: 35px;
        width: 145px;
    }

    .accept {
        color: $blue;
        background-color: transparent;
        gap: 10px;
    }

    .dicline {
        color: #fff;
        background-color: $magenta;
        border-radius: 5px;
        gap: 3px;
    }
}


.additional__container {
    display: flex;
    padding: 5px 0;
    border-top: none !important;
    overflow: hidden;
}

.contact__container {
    padding-left: 10px;
    padding-top: 5px;
    width: 395.5px;
    border-right: 1.5px #d1d1d1 solid;

    .contacts {
        p {
            color: #393939;
            margin-bottom: 3px;
        }
    }
}

.message__container {
    margin-left: 30px;
    padding-top: 5px;
    min-height: 200px;

    .message {
        font-weight: $semiBold;
        color: #646464;
    }
}

.sub__title {
    color: #646464;
    margin-bottom: 10px;
}