@import '../../../styles/root.scss';

.header__wrapper {
    width: 100%;
    height: 60px;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__container {
    width: 90vw;
    max-width: 1420px;

    .logo {
        width: auto;
        height: 45px;
    }
}