@import '../../styles/root.scss';

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1500px;
    width: 80vw;
    max-width: 2000px;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu__item {
    font-size: $headline;
    cursor: pointer;
    transition: color 100ms ease-in-out;
    color: $dark;
    display: flex;
    align-items: center;
    gap: 10px;

    h3 {
        font-weight: $semiBold;
        transform-origin: left center;
        transition: transform 100ms ease-in-out;
    }

    .line {
        width: 4px;
        height: 19px;
        background-color: $dark;
        transition: all 100ms ease-in-out;
    }
}

.active__first,
.active__second,
.active__third {
    h3 {
        transform: scale(1.4);
    }

    .line {
        width: 8px;
        height: 39px;
    }
}

.active__first {
    color: $blue;

    .line {
        background-color: $blue;
    }
}

.active__second {
    color: $magenta;

    .line {
        background-color: $magenta;
    }
}

.active__third {
    color: $purple;

    .line {
        background-color: $purple;
    }
}

.image__block {
    position: relative;
}

.image {
    position: relative;
    z-index: 2 !important;
    width: 900px;
    height: 900px;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.hidden__image {
    transform: translateX(100vw);
    opacity: 0;
}

.blur {
    z-index: 1 !important;
    position: absolute;
    bottom: -60px;
    left: -150px;
    width: 880px;
    height: 360px;
    transform: rotate(15deg);
    filter: blur(50px);
    -webkit-filter: blur(50px);
    opacity: 0.8;
    border-radius: 70%;
    background-color: transparent;

    transition: opacity 1s ease-in-out;

    &.hidden {
        opacity: 0;
    }
}

.blue__blur {
    background-color: #52ACD2;
}

.pink__blur {
    background-color: #FA73BC;
}

.purple_blur {
    bottom: -20px !important;
    background-color: #9570FF;
}