@import '../../../styles/root.scss';

.container {
    position: relative;
}

.image {
    width: 16px;
    height: auto;
    cursor: pointer;
}

.comment__container {
    position: absolute;
    opacity: 1;
    display: none;
}

.show {
    display: block;
}

.triangle {
    position: absolute;
    top: -6px;
    left: 2px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 6px;
    border-left-width: 6px;
    border-bottom: 10px solid $dark;
}

.comment__block {
    position: absolute;
    top: 4px;
    left: -15px;
    border-radius: 5px;
    height: auto;
    width: 240px;
    padding: 10px;
    background-color: $dark;

    p {
        color: $white;
        font-size: $bodySmall;
        font-weight: $regular;
    }
}

@media screen and (max-width: 800px) {
    .image {
        width: 14px;
    }
    
    .comment__block {
        height: auto;
        width: 180px;
    
        p {
            font-size: $mobileFont;
        }
    }
}