@import '../../../styles/root.scss';

.modal__wrapper {
    z-index: 3;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    
    &.active__wrapper {
        pointer-events: auto;
    }
}

.modal__container {
    position: relative;
}

.image {
    width: 1200px;
    border-radius: 15px;
    height: auto;
}

.close__modal {
    position: absolute;
    right: -30px;
    top: -30px;
    background-color: transparent;
    border: none;
    font-size: $headline;
    cursor: pointer;
    color: $white;
    transform: rotate(45deg);
}

@media screen and (min-width: 801px) and (max-width: 1400px) {
    .image {
        width: 800px;
    }

    .close__modal {
        top: -35px;
    }
}