@import '../../styles/root.scss';

.container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 3;
}

.blue {
    background-color: $blue;
}

.magenta {
    background-color: $magenta;
}

.purple {
    background-color: $purple;
}

.menu {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.link {
    color: $white;
    cursor: pointer;
    font-size: $bodyMedium;
    transition: font-weight 0.1s ease-in-out;
    position: relative;
    padding: 0 10px;
}

.active__link {
    font-weight: $semiBold;
}

.underline {
    position: absolute;
    bottom: -3px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
}