@import '../../../styles/root.scss';

.dropdown__container {
    height: 45px;
    max-width: 460px;
    background-color: #fff;
    margin-top: 7px;
    font-size: $bodyLarge;
    border-radius: 5px;
    border: 1px solid #ACACAC;
    display: flex;
    align-items: center;
    position: relative;
    transition: border-radius 0.1s ease-in-out;
}

.dropdown__open {
    border-bottom: 1px solid transparent;
    border-radius: 5px 5px 0 0;
}

.dropdown__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    height: 45px;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

.dropdown__btn__open {
    background-color: #C1C1C1 !important;
}

.arrow {
    transform: rotate(90deg);
}

.list {
    position: absolute;
    list-style: none;
    top: 44.5px;
    left: -1px;
    background-color: #fff;
    width: 100%;
    max-width: 460px;
    border: 1px solid #ACACAC;
    border-top: none;
    border-radius: 0 0 5px 5px;
    overflow: hidden;

    li {
        padding: 5px 15px;
        cursor: pointer;
        transition: background-color 0.1s linear;

        &:hover {
            background-color: #E3E3E3;
        }
    }
}


@media screen and (max-width: 500px) {
    .dropdown__container {
        max-width: 350px;
        margin-top: 10px;
        font-size: $mobileFont;
    }

    .arrow {
        font-size: $bodyMedium;
    }

    .list {
        z-index: 3;
        top: 45px;
        left: -1px;
        max-width: 350px;
    
        li {
            display: flex;
            align-items: center;
            height: 45px;
            padding: 0px 15px;
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .dropdown__container {
        max-width: 450px;
        margin-top: 10px;
        font-size: $mobileFont;
    }

    .arrow {
        font-size: $bodyMedium;
    }

    .list {
        z-index: 3;
        top: 45px;
        left: -1px;
        max-width: 450px;
    
        li {
            display: flex;
            align-items: center;
            height: 45px;
            padding: 0px 15px;
        }
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    .dropdown__container {
        max-width: 250px;
        font-size: $bodyMedium;
    }

    .arrow {
        font-size: $bodyMedium;
    }

    .list {
        z-index: 3;
        top: 45px;
        left: -1px;
        max-width: 250px;
    
        li {
            display: flex;
            align-items: center;
            height: 45px;
            padding: 0px 15px;
        }
    }
}