@import '../../../styles/root.scss';

.wrapper {
    border: 0.5px solid #d9d9d9;
    position: relative;
}

.container, .open__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1149px;
    height: 65px;
    cursor: pointer;
    gap: 20px;
    position: relative;
}

.open__container {
    background-color: #fff;
    position: relative;
    z-index: 2;

    .prev__img, .title, .order__code, .deadline {
        border: none;
    }

    .order__code {
        width: 320px;
    }

    .deadline {
        width: 280px;
    }
}

.container {
    background-color: $white;
    transition: all 0.3s ease-in-out;
}

.prev__img {
    div{
        max-width: 85px;
        height: 50px;
        margin: 5px 10px;
        border-radius: 5px;
        background-color: #d9d9d9;
    }
    width: 102px;
    border-right: 1.5px #d1d1d1 solid;
}

.title {
    font-size: $bodySmall;
    font-weight: $semiBold;
    height: 60px;
    display: flex;
    align-items: center;
    width: 313px;
    border-right: 1.5px #d1d1d1 solid;
}

.order__code {
    color: #646464;
    font-size: $bodySmall;
    height: 60px;
    display: flex;
    align-items: center;
    width: 211px;
    border-right: 1.5px #d1d1d1 solid;
}

.deadline {
    display: flex;
    align-items: center;
    font-size: $bodySmall;
    font-weight: $semiBold;
    color: #646464;
    width: 390px;
    height: 60px;
    border-right: 1.5px #d1d1d1 solid;
}

.status {
    display: flex;
    align-items: center;
    width: 118px;
    color: $blue;
    font-weight: $semiBold;
}

.additional__container {
    display: flex;
    padding: 5px 0;
    border-top: none !important;
    overflow: hidden;
}

.contact__container {
    padding-left: 10px;
    padding-top: 5px;
    width: 400.5px;
    border-right: 1.5px #d1d1d1 solid;

    .contacts {
        p {
            color: #393939;
            margin-bottom: 3px;
        }
    }
}

.message__container {
    margin-left: 30px;
    padding-top: 5px;
    min-height: 200px;

    .message {
        font-weight: $semiBold;
        color: #646464;
    }
}

.sub__title {
    color: #646464;
    margin-bottom: 10px;
}

.btn {
    z-index: 3;
    position: absolute;
    right: 5px;
    top: 55px;
    color: #fff;
    background-color: $blue;
    border: none;
    font-size: $bodySmall;
    height: 36px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
}