@import '../../../styles/root.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.image {
    width: 330px;
    height: 180px;
    border-radius: 5px;
}

.projects__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.dropdown__container {
    height: 60px;
    max-width: 330px;
    width: 100%;
    background-color: #fff;
    font-size: $mobileFont;
    font-weight: $semiBold;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    position: relative;
    transition: border-radius 0.1s ease-in-out;
}

.dropdown__open {
    border-radius: 5px 5px 0 0;
}

.dropdown__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    border-radius: 5px 5px 0 0;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

.dropdown__btn__open {
    background-color: #C1C1C1 !important;
}

.arrow {
    transform: rotate(90deg);
}

.list {
    position: absolute;
    list-style: none;
    top: 60px;
    left: 0px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 330px;
    border-top: none;
    border-radius: 0 0 5px 5px;
    overflow: hidden;

    li {
        padding: 0 15px;
        height: 60px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

.description__container {
    margin-top: 10px;
}

@media screen and (min-width: 451px) and (max-width: 800px) {
    .image {
        width: 400px;
        height: 220px;
        border-radius: 5px;
    }

    .dropdown__container {
        max-width: 400px;
    }

    .list {
        max-width: 400px;
    }
}