.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    width: 90vw;
    max-width: 1420px;
    height: 850px;
    gap: 32px;

    .flex__start {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        gap: 32px;
    }

    .flex__end {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: auto;
    }
}

.img__sceleton {
    height: 395px;
    width: 245px;
    background-color: #D9D9D9;
}